<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>473068602039-r2gsg8rnnadh32mbo5gc8hrvtkm8ij9a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.473068602039-r2gsg8rnnadh32mbo5gc8hrvtkm8ij9a</string>
	<key>API_KEY</key>
	<string>AIzaSyAscdxNTdpMkt6yL7PKUv-cpSM2CiUro2E</string>
	<key>GCM_SENDER_ID</key>
	<string>473068602039</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>syenK.MOGMOG</string>
	<key>PROJECT_ID</key>
	<string>mogmog-b6ffa</string>
	<key>STORAGE_BUCKET</key>
	<string>mogmog-b6ffa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:473068602039:ios:cd87198bb83698c47f0332</string>
</dict>
</plist>